typer==0.4.1
typing_extensions==4.0.1
Pillow==9.0.0
tqdm==4.62.3
opencv-python==4.5.5.62
matplotlib==3.5.1
matplotlib-inline==0.1.3
numpy==1.22.2
pandas==1.4.0
pickleshare==0.7.5
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
requests==2.27.1
transformers==4.16.1
git+https://github.com/gdlg/simple-waymo-open-dataset-reader.git@d488196b3ded6574c32fad391467863b948dfd8e


